@font-face {
  font-family: 'Tajawal';
  src: url('../public/Tajawal/Tajawal-Regular.ttf') format('truetype');
}

* {
  font-family: 'Tajawal', sans-serif;
  
}
nav{
    z-index: 10000;
}

.main-btn {
    font-size: .875rem;
    font-weight: 900 ;
    background: linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12));
    color: white ;
    padding: 16px 32px ;
    text-decoration: none;
    
}
.main-color {
    color: rgb(249, 115, 22);
}

.bg-web-black {
    background-color: #0a0a0af2
;
}
.translate{
    transition: all 0.3s !important;
}
.translate:hover {
    transform: translatey(-5px);
}

.cursor-pointer {
    cursor: pointer;
}
/* hero section  */



.hero-section {
    padding-top:120px;
    box-sizing: border-box;
     background-color: #0f0f0f;
  background-image:
    linear-gradient(#2a2a2a 1px, transparent 1px),
    linear-gradient(90deg, #2a2a2a 1px, transparent 1px);
  background-size: 50px 50px;
}


.red-circle1{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff6900
;
    animation: blink 4s infinite;
}
.red-circle2{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff6900
;
    animation: blink2 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;   /* مضاءة */
  }
  25%, 75% {
    opacity: 0.5;   /* مطفية */
  }

}
@keyframes blink2 {
   0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px rgba(255, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.6); /* تكبر */
    opacity: 1;
    box-shadow: 0 0 8px rgba(255, 100, 100, 0.8); /* لمعة */
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px rgba(255, 0, 0, 0);
  }
}


.badge-header{
    padding: 8px  16px;
    background-color: #f973161a;
    border: 1px solid #f973164d;
    margin-bottom: 32px;
    
}

.arrow i {
    transition: all 0.3s;
}
.arrow:hover {
    i{
        transform: translateX(-2px);    
    }
}


.more-info {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
     border:1px #262626 solid;
     color: white;
     transition: all 0.3s;
}

.more-info:hover{
    color: #ff6900;
    border-color: #ff6900;
}

.hero-btns {
    margin-bottom:64px ;
}

.statics .item {
    height: 120px !important;
    width:  150px !important;
    padding: 16px;
    background-color: #161616cc;
    border: 1px solid rgb(38, 38, 38);
    transition: all 0.3s;
}
.item:hover{
    transform: scale(1.1);
}

.item i{
    font-size: 1.5rem;
    color: #ff6900
;
font-weight: 900;
}

.item p {
    margin: 0;
    font-size: 1.875rem;
    font-weight: 700;
    color: rgb(251, 191, 36);

}

.item h3{
    color: #737373;
    font-size: .875rem;

}


/* chosen Articles section*/



.chosen-articles-section{
    padding-block: 96px;
    background-color: #0a0a0a;

}

.badge-chosen{
    width: 10% !important;
}

.chosen-title {
    color: white;
    font-size: 3.75rem;
    font-weight: 900;
}


.show-all p{
    font-size: 1.125rem;
    color: #a1a1a1;
}
.article-head{
    background-color: #161616;
    padding: 32px;

}

.article-img span{
    background-color: #ff6900;
    padding: 6px 12px;
    font-size: 12px;
    top: 3%;
    right: 1%;

}

.article-time span{
     padding: 4px  8px;
     font-size: 12px;
     font-weight: 600;
    background-color: #f973161a;
    border: 1px solid #f973164d;
    color: #ff6900;
}
.article-time p{
    color: #737373;
    font-size: 14px;
}

.article-head .article-title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    transition: all 0.3s;
}

.article-head .article-description{
    color: #a1a1a1;
    font-size: 16px;
}

.article-writer img{
    width: 50px;
    height: 50px;
    object-fit: cover;

   

}
.article-writer span{
  width: 13px;
    height: 13px;
    background-color: #ff6900;
    border-radius: 50%;
    position: absolute;
    bottom: -1%;
    left: 7%;
}
.article-writer h4{
    font-size: 14px;
    color: white;
    margin: 0;
}
.article-writer p {
    color: #737373;
    font-size: 12px;
    margin: 0;
}

.show-article{
    color: #ff6900 !important;
}
.article-img img{
    transition: all 1s;
    object-fit: cover;
      width: 100%;
  height: 100%;
 
}
.article-img {
     width: 50%;
  height: 350px;
  overflow: hidden;
}

.article-card:hover .article-img img{
    transform: scale(1.1);
}

.article-card:hover .article-title{
    color: #ff6900;
}
.article-card{
      border: 1px solid rgb(38, 38, 38);
      border-radius: 15px;

}
.article-card:hover{
    border-color: #61381e;
}
.show-article i{
    transition: all 0.3s;
}
.article-card:hover .show-article i{
    transform: translateX(-5px);
}


/* discover section */

.discover-section{
    background-color: #0a0a0a;
    padding-bottom: 60px;
}
.discover-section .badge-header{
    width: 15%;
    margin: auto;
    margin-bottom: 32px;
}
.discover-section .title {
    font-size: 3.75rem;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
}

.discover-section .disc {
    font-size: 1.125rem;
    color: #a1a1a1;
     margin-bottom: 32px;
}

.category{
    padding:16px 32px;
    border: 1px solid rgb(38, 38, 38);
    background-color: #0a0a0a;
    transition: all 0.3s;
}

.category-icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #f973161a;
    border: 1px solid #f973164d;
    color: #ff6900;
    margin-bottom: 12px;
}
.category h4{
    font-weight: 700;
    font-size: 1.125rem;
    color: white;
    margin-bottom: 10px;
}
.category p {
    color: #737373;
    font-size: .875rem;
    margin: 0;
}
.show-category {
    width: 32px;
    height: 32xp;
    display: hidden;
    color: black;
}

.category:hover{
    
    background-color: rgb(249, 115, 22);
    transform: translateY(-5px);

}

.category:hover .category-icon{
    background-color: rgb(249, 115, 22) ;
    color: white;
}
.category:hover h4{
    color: white;
}
.category:hover p{
    color: white;
}


/* recentely sectio  */

.recently-section {
     background-color: #0a0a0a;
}
.recently-section .badge-header{
 width: 12%;
}

.recently-section .title {
    font-size: 3.75rem;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
}

.recently-section .disc {
    font-size: 1.125rem;
    color: #a1a1a1;
     margin-bottom: 32px;
}

.show-all-articles a {
    color: #ff6900 ;
}
.show-all-articles i{
    transition: all 0.3s;
}
.show-all-articles:hover a i {
    transform: translateX(-5px) !important;
}

.recently-item{
    border: 1px solid rgb(38, 38, 38);
}
.recently-img {
    
    height: 208px;
object-fit: cover;
position: relative;
overflow: hidden;

}
.recently-img span {
    padding: 4px 12px;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #0a0a0acc;
    border: 1px solid #333;
    font-size: .75rem;
    font-weight: 600;
    color: white;
}
.recently-info{
    padding: 24px;
    background-color: #161616;
}

.recently-time {
    font-size: .875rem;
    color:#737373 ;
}
.recently-info h3{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 0.3s;
}

.recently-disc{
    color: #a1a1a1;
    font-size: .875rem;
}
.recently-author{
    padding-top: 16px;
    border-top:  1px solid rgb(38, 38, 38);
}

.recently-author img{
    width: 36px;
    height: 36px;
    border-radius: 50%;

}
.recently-author h4{
    font-size: .875rem;
    color: white;
    font-weight: 500;
}
.recently-author p {
    font-size: .75rem;
    color: #737373;
}

.arrow-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   background-color: #f973161a;
    border: 1px solid #f973164d;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ff6900 ;

}
.recently-img img{
    transition: all 0.7s;
}
.recently-item:hover .recently-img img{
    transform: scale(1.2);
}
.recently-item:hover .recently-info h3{
    color: #ff6900;
}
.recently-item:hover .arrow-icon{
    background-color: #ff6900;
    color: white;
}



/* Blog */

/* Blog-header */


.head-blog .badge-header p{
    color: #ff6900 !important;

}

.head-blog h2{
    font-size: 3.75rem;
    font-weight: 700;
    color: white;
}

.articles-section {
     background-color: #0a0a0a;

}

.search-bar input{
    outline-style: none;
    background: #161616;
    border:1px solid #262626;
    color: white;
    width: 70%;
}
.search-bar i {
    color: #737373;
    right: 65%;
}
.search-bar input::placeholder {
  color: #737373; 
  opacity: 1; 
}
.search-bar input:focus {
    
    background: #161616;
    border:1px solid #ff6900;
    outline: unset;
box-shadow: 0 0 ;
color: white;
}


.filter-tabs a{
    border: #262626 solid 1px !important;
    background-color: #161616 !important ;
    font-size: 14px !important ;
    color: #a1a1a1 !important;

}

.filter-tabs a:hover{
    border: #ff6900 solid 1px !important;
}

.btn-active{
    color: white !important;
    background-color: #ff6900 !important;

}

.sticky-top {
    top : 105px !important;
}
.articles-filter-bar{
    background-color: #0a0a0a !important;
}

.bread-crumb {
    top: 3%;
    right: 5%;
}

section{
    background-color: #0a0a0a;
}
.main-bg{
     background-color: #111111;
}

.author-info {
    width: 20%;
}

.camera-icon {
    color: #FF6900;
    background-color: #231309;
    border:1px solid #5D1406 ;
}

.tags{
    transition: all 0.3s;

}
.tags:hover{
    color: #ff6900 !important;
    border-color: #ff6900 !important;
}




.social-link{
    background-color: rgb(22, 22, 22);
    transition: all 0.3s;
    
}
.social-link:hover {
    transform:  scale(1.1);
    background-color: #ff6900 ;
    color: white !important;
}


.discover-link{
    transition: all 0.3s;
}

.discover-link i {
    opacity: 0;
    transition: all 0.3s;
}
.discover-link:hover{
    transform: translateX(-3px) !important;
    color: #ff6900 !important;
}
.discover-link:hover  i{
   opacity: 1;

}

.nav-content .active{
       color: white !important;
    background-color: #ff6900 !important;
}
.filter-tabs .active{
    background-color: #ff6900 !important;
    color: white !important;
}